@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

*{
    padding:0;
    font-family: 'Red Hat Text', sans-serif;
    padding:0;
    margin: 0;
    text-decoration: none;
    transition: 0.5s;
    font-size: 14px;
}
*:hover{
    transition: 0.1s;
}

body{
    height:100vh;
    width:100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background: hsl(234, 17%, 12%);
    background-image:url("../img/pattern-hills.svg"), url("../img/bg-stars.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

}


/* =====
===========
COUNTDOWN
===========
=====*/
section div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
h1{
    font-weight: 700;
    padding-bottom: 8rem;
    font-size: 2rem;
}
section p{
    font-weight: 400;
    color:hsl(237, 18%, 59%);
}
h1, h2, section p{
    text-transform: uppercase;
    letter-spacing: 5px;
}


/* =====
===========
COUNTDOWN numbers
===========
=====*/
h2{
    letter-spacing: 0;
    color:hsl(345, 95%, 68%);
    font-size:6rem;
    font-weight: 900;
    margin:auto
}
.overflow{
    overflow: hidden;
    display: flex;
    background-color: hsl(236, 21%, 26%);
    height:160px;
    width:170px;
    margin:2rem 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 0 hsl(233, 18%, 9%);
}
.dot1{
    position: absolute;
    border-radius:0 0.75rem 0.75rem 0;
    background:hsl(233, 18%, 9%);
    border:1px solid hsl(234, 17%, 12%);
    height:20px;
    width:10px;
    margin-top:70px;
    border-left:0;
}
.dot2{
    position: absolute;
    border-radius:0.75rem 0 0 0.75rem;
    background:hsl(233, 18%, 9%);
    border:1px solid hsl(234, 17%, 12%);
    height:20px;
    width:10px;
    margin-top:70px;
    margin-left:159px;
    border-right:0;
}
.shading{
    opacity: 0.5;
    border-radius: 0.75rem 0.75rem 0 0;
    position:absolute;
    background:hsl(235, 16%, 14%);
    border:1px solid hsl(234, 17%, 12%);
    height:80px;
    width:168px;
    box-shadow: 0 1px 0 hsla(237, 18%, 59%, 0.336)
}


/* =====
===========
COUNTDOWN ANIMATION
===========
=====*/
@keyframes time {
    0% {
        opacity: 0;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
@keyframes flipcard {
    0% {
        height:0px;
        margin-top:80px;
    } 10% {
        height:0px;
        margin-top:80px;
    } 50% {
        height:80px;
        margin-top:80px;
    } 90% {
        height:80px;
        margin-top:0;
    }
}

.flipcard{
    animation: flipcard 0.3s
}
.time{
    animation: time 0.3s
}



/* =====
===========
FOOTER
===========
=====*/
footer{
    color:hsl(0, 0%, 100%);
}
footer a{
    color:hsl(237, 18%, 59%);
}
footer a:hover{
    color:hsl(345, 95%, 68%);
}
footer svg:hover path{
    fill:#fb6087!important;
}
footer div:nth-child(1){
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap:1.5rem
}



/* =====
===========
RESPONSIVE
===========
=====*/
@media screen and (max-width:847px) {
    .overflow {
        width:130px!important;
        height:120px!important;
        margin:2rem 0.75rem!important;
    }
    h2{
        font-size:4.5rem!important;
    }

    
    .dot1{
        margin-top:50px;
    }
    .dot2{
        margin-top:50px;
        margin-left:119px;
    }
    .shading{
        height:60px;
        width:128px;
    }

    
    @keyframes flipcard {
        0% {
            height:0px;
            margin-top:60px;
        } 10% {
            height:0px;
            margin-top:60px;
        } 50% {
            height:60px;
            margin-top:60px;
        } 90% {
            height:60px;
            margin-top:0;
        }
    }
}


@media screen and (max-width:610px) {
    .overflow {
        width:110px!important;
        height:100px!important;
        margin:2rem 0.75rem!important;
    }
    h2{
        font-size:3rem!important;
    }

    
    .dot1{
        margin-top:40px;
    }
    .dot2{
        margin-top:40px;
        margin-left:99px;
    }
    .shading{
        height:50px;
        width:108px;
    }

    @keyframes flipcard {
        0% {
            height:0px;
            margin-top:50px;
        } 10% {
            height:0px;
            margin-top:50px;
        } 50% {
            height:50px;
            margin-top:50px;
        } 90% {
            height:50px;
            margin-top:0;
        }
    }
}


@media screen and (max-width:530px) {
    section > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .overflow {
        width:130px!important;
        height:120px!important;
        margin:2rem 0.75rem!important;
    }
    h2{
        font-size:4.5rem!important;
    }

    
    .dot1{
        margin-top:50px;
    }
    .dot2{
        margin-top:50px;
        margin-left:119px;
    }
    .shading{
        height:60px;
        width:128px;
    }

    
    @keyframes flipcard {
        0% {
            height:0px;
            margin-top:60px;
        } 10% {
            height:0px;
            margin-top:60px;
        } 50% {
            height:60px;
            margin-top:60px;
        } 90% {
            height:60px;
            margin-top:0;
        }
    }
}