@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@600&display=swap');

*{
    padding:0;
    font-family: 'Red Hat Text', sans-serif;
    padding:0;
    margin: 0;
    text-decoration: none;
    transition: 0.5s;
}
*:hover{
    transition: 0.1s;
}

body{
    height:100vh;
    width:100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background: hsl(234, 17%, 12%);
    background-image:url("/img/pattern-hills.svg"), url("/img/bg-stars.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

}


/* =====
===========
COUNTDOWN
===========
=====*/
section{
    max-width:860px;
}
section div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
h1{
    font-weight: 700;
    padding-bottom: 5rem;
}
section p{
    font-weight: 400;
    color:hsl(237, 18%, 59%);
}
h2{
    color:hsl(345, 95%, 68%)
}
h1, h2, section p{
    text-transform: uppercase;
    letter-spacing: 5px;
}


/* =====
===========
IMAGE COUNTDOWN
===========
=====*/


/* =====
===========
FOOTER
===========
=====*/
footer{
    color:hsl(0, 0%, 100%);
}
footer a{
    color:hsl(237, 18%, 59%);
}
footer a:hover{
    color:hsl(345, 95%, 68%);
}
footer svg:hover path{
    fill:#fb6087!important;
}
footer div:nth-child(1){
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap:1.5rem
}